services:
  # MySQL Database
  postgres:
    image: postgres:15
    container_name: cine_sd_postgres
    environment:
      - POSTGRES_DB=cine_sd
      - POSTGRES_USER=postgres_user
      - POSTGRES_PASSWORD=password_123
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  # Redis Cache
  redis:
    image: redis
    container_name: cine_sd_redis
    ports:
      - "6379:6379"
